.container {
  width: 100%;
  height: calc(100% - 60px);
  // height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
}

@media (max-width: 1240px) {
  .container {
    width: 100%;
    height: calc(100% - 120px);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
  }
}